.header{
	font-size: 200%;
	text-align: center;
	/*background-color: rgba(	0,255,255,50);*/	;
}
a{
	text-decoration:none;
	padding-right: 10px;
	padding-left: 10px;
}
.prepare{
	font-size: 250%;
	text-align:center;
	color: rgb(0,200,255);
}
.lang{
	cursor: pointer;
	outline: none; 
	float:right;
	border-width: 10px;
	border-radius: 100px;
	/*我觉得我这样做是多余的*/
}
.download a{
	float: right
}
